div.calc-container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 390px;
  height: 844px;
}

fieldset {
  border: 1px solid black;
  width: 390px;
  height: 844px;
}

div.btn {
  display: grid;
  grid-row: auto;
}

ul {
  list-style-type:none;
  padding-inline-start: 0px;
}